.transaction_history {
  table-layout: fixed;
  max-width: 500px;
  width: 100%;
  border-spacing: 1px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1em;
  margin: 0 auto;
  box-shadow: 2px 2px 2px 0px rgba(157, 157, 157, 0.5);
  border-radius: 5px;
}

.transaction_history thead tr {
  background-color: #00bcd5;
  color: white;
  text-transform: uppercase;
}

.transaction_history tbody tr:nth-child(even) {
  background-color: #ecf1f4;
}

.transaction_history th,
td {
  padding: 12px 6px;
}

.transaction_history tbody tr {
  background-color: white;
  color: #828282;
  text-align: center;
}

.transaction_history td:first-child {
  text-transform: capitalize;
}

.transaction_history thead th,
.transaction_history tbody td {
  width: calc(100% / 3);
}
